<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
      id="{{ featuredArticle?.id }}"
      cardTitle="{{ featuredArticle?.title }}"
      cardDescription="{{ featuredArticle?.description }}"
      photoCover="{{featuredArticle?.photo}}"
      >.</app-big-card
    >
  </div>
  <div class="articles__others">
    <h1>Projetos</h1>
    <app-small-card
      *ngFor="let article of otherArticles"
      id="{{ article.id }}"
      photoCover="{{ article.photo }}"
      cardTitle="{{ article.title }}"
    ></app-small-card>
  </div>
</div>
